h4 {
      color: lightblue; 
    }
    p {
      font-family: fantasy; 
    }
h1#sticky {
      position: fixed;  
      top: 0px; 
      left: 5px; 
}
body {
      background-image: url("underwater.jpg"); 
} 
h4.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}
img.wide {
      width: 900px; 
}
a:hover {
      color: orange; 
}
table.spaced {
      border-collapse: separate; 
      border-spacing: 10px; 
      background-color: purple; 
}
