h4 {
      color: lightblue; 
    }
    p {
      font-family: fantasy; 
    }
h1#sticky {
      position: fixed;  
      top: 0px; 
      left: 5px; 
}
body {
      background-image: url("https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwicx-aG2-vTAhUBzGMKHWlUDMYQjRwIBw&url=https%3A%2F%2Fwww.flickr.com%2Fphotos%2Fmandyxclear%2F5956802620&psig=AFQjCNGPiTQuwQNs-YVFGgIrgL0bNqXO_A&ust=1494725058004374.jpg"); 
} 
h4.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}
img.wide {
      width: 900px; 
}
a:hover {
      color: orange; 
}
table.spaced {
      border-collapse: separate; 
      border-spacing: 10px; 
      background-color: purple; 
}
